<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Football Stats Manager</title>

  <!--Style links-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  {{{body}}}

  <!--External Javascript-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>